# Data Types and Structures Questions

#1.  What are data structures, and why are they important ?

  - Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.

    - Choosing the right data structure significantly impacts the        efficiency and performance of your program.
    - Well-chosen data structures can:
     - Simplify data manipulation (adding, removing, modifying elements)
     - Optimize searching and sorting operations
     - Conserve memory usage

#2.  Explain the difference between mutable and immutable data types with examples.

  - Mutable data types are those whose values or contents can be changed or modified after they have been created. Immutable data types, conversely, are those whose values or contents cannot be altered once they are created; any operation that appears to modify an immutable object actually results in the creation of a new object with the desired changes.

#3.  What are the main differences between lists and tuples in Python ?

  - Lists: are mutable, meaning their elements can be modified (added, removed, or changed) after creation.
  - Lists: are defined using square brackets [].


  - Tuples: are immutable, meaning their elements cannot be changed once the tuple is created.
  - Tuples: are defined using parentheses ().

#4.  Describe how dictionaries store data.

 - Dictionaries store data as a collection of key-value pairs. This fundamental structure allows for efficient retrieval of values based on their associated unique keys.

#5.  Why might you use a set instead of a list in Python
   - The Python sets are highly useful to efficiently remove duplicate values from a collection like a list and to perform common math operations like unions and intersections.

#6.  What is a string in Python, and how is it different from a list ?

  - In Python, a string is an immutable sequence of characters, used to represent text. Strings are enclosed in single quotes (') or double quotes ("). For example, 'hello' and "world" are both strings.

  - A list in Python, on the other hand, is a mutable, ordered collection of items. These items can be of any data type and are enclosed in square brackets ([]), with individual items separated by commas. For example, [1, 'apple', True] is a list containing an integer, a string, and a boolean.

#7.  How do tuples ensure data integrity in Python?
  -   Once you create a tuple, you cannot change its content. This immutability makes tuples useful for
situations where you want to ensure that the data remains constant.

#8.  What is a hash table, and how does it relate to dictionaries in Python ?
  - A hash table is a data structure that stores key-value pairs by using a hash function to map keys to indices in an array. This mapping allows for efficient retrieval, insertion, and deletion of data, ideally achieving average time complexity for these operations.

#9.  Can lists contain different data types in Python ?
  - A list is one of the most versatile and commonly used data structures in Python. It is an ordered collection
of elements that can be of any data type, such as integers, strings, or other lists.

#10. Explain why strings are immutable in Python ?
   - Strings in Python are "immutable" which means they can not be changed after they are created. The immutability of Python string is very useful as it helps in hashing, performance optimization, safety, ease of use, etc.

#11.  What advantages do dictionaries offer over lists for certain tasks?
   Benefits of Using Dictionary Comprehensions:

- Conciseness and readability: They provide a more compact and readable way to create dictionaries
compared to traditional methods like loops or for loops combined with if statements
- Expressiveness: Dictionary comprehensions allow developers to express complex operations in a succinct
manner, enhancing code clarity and maintainability
- Efficiency: They often result in faster execution times and better performance, especially for smaller
dictionaries

#12.  Describe a scenario where using a tuple would be preferable over a list.

 - Imagine you have different boxes, each containing a variety of chocolates. You want to represent this
situation using tuples:

In [ ]:
 # Define tuples to represent boxes of chocolates
 box1 = ("Dark Chocolate", "Milk Chocolate", "White Chocolate")
 box2 = ("Caramel Chocolate", "Hazelnut Chocolate")
 box3 = ("Raspberry Chocolate", "Coconut Chocolate")
 # Combine the boxes into a larger bag
 chocolate_bag = (box1, box2, box3)
 # Access the chocolates in the bag
 for box in chocolate_bag:
   print("Box contents:")
   for chocolate in box:
      print(" - " + chocolate)

Box contents:
 - Dark Chocolate
 - Milk Chocolate
 - White Chocolate
Box contents:
 - Caramel Chocolate
 - Hazelnut Chocolate
Box contents:
 - Raspberry Chocolate
 - Coconut Chocolate

#13.  How do sets handle duplicate values in Python ?
  - Python sets are inherently designed to store only unique elements. This means that when you attempt to add a duplicate value to a set, the set simply ignores the addition. They are useful when you need to work with distinct items because in sets duplicate entries are not allowed.

#14.  How does the “in” keyword work differently for lists and dictionaries ?
-- The in keyword in Python functions differently for lists and dictionaries due to their underlying data structures and how membership is defined for each:

 - Lists: When used with a list, the in keyword checks for the presence of a specific element within the list. It performs a linear search, iterating through each item in the list to see if it matches the target element.

 - Dictionaries: When used with a dictionary, the in keyword checks for the presence of a specific key within the dictionary. It leverages the dictionary's hash-table implementation, which allows for very fast lookups based on keys.

#15.  Can you modify the elements of a tuple? Explain why or why not.
  - The elements of a tuple cannot be modified after the tuple has been created. Tuples are immutable data structures in Python, meaning their contents cannot be changed once they are defined.

#16.  What is a nested dictionary, and give an example of its use case ?
  - A nested dictionary is a dictionary that contains other dictionaries as values. This structure allows for the representation of hierarchical or tree-like data, where each level of nesting provides a more specific detail about the data.

  - Example of its Use Case:
A common use case for nested dictionaries is to store and manage complex, structured data, such as information about multiple entities with detailed attributes. Consider managing a database of students in a school, where each student has personal details and academic records.

In [ ]:
school_data = {
    "student_id_001": {
        "name": "Alice Smith",
        "age": 16,
        "grade": 10,
        "courses": {
            "math": {"score": 92, "teacher": "Mr. Jones"},
            "science": {"score": 88, "teacher": "Ms. Davis"},
            "history": {"score": 95, "teacher": "Dr. Lee"}
        }
    },
    "student_id_002": {
        "name": "Bob Johnson",
        "age": 17,
        "grade": 11,
        "courses": {
            "math": {"score": 85, "teacher": "Mr. Jones"},
            "literature": {"score": 90, "teacher": "Ms. White"},
            "art": {"score": 78, "teacher": "Mr. Brown"}
        }
    }
}

# Accessing data:
print(school_data["student_id_001"]["name"])
print(school_data["student_id_002"]["courses"]["math"]["score"])

Alice Smith
85

#17.  Describe the time complexity of accessing elements in a dictionary.

  - The time complexity of accessing elements in a dictionary is typically O(1) on average. This means that the time taken to retrieve a value by its key remains constant, regardless of the size of the dictionary.

  - This efficiency is attributed to the internal implementation of dictionaries, which utilize hash tables. When a key is used to access a value, its hash value is computed, leading directly to the memory location where the corresponding value is stored. This direct access mechanism allows for constant-time lookups in most scenarios.
  - However, in the worst-case scenario, the time complexity can degrade to O(n), where 'n' is the number of key-value pairs in the dictionary. This occurs when there are numerous hash collisions, meaning multiple keys produce the same hash value. In such cases, the dictionary may need to linearly search through a chain of elements within a specific hash bucket, leading to a performance proportional to the number of elements in that bucket. While possible, this worst-case scenario is rare due to effective hash function design and collision resolution strategies employed in dictionary implementations.

#18.  In what situations are lists preferred over dictionaries ?
  - Lists are preferred over dictionaries when the order of data matters, such as in a sequence of events or a step-by-step process, or when data is accessed by its numerical position (index) rather than a unique key. Lists are also better for situations where you need to perform ordered operations like sorting, or when you require methods for adding and removing elements sequentially, like appending to a shopping list.

#19.  Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Dictionaries are considered "unordered" because, historically and by design, their primary purpose is fast retrieval of values using unique keys, not to maintain a specific sequence of elements. This means you cannot rely on positional indexing (like dictionary[0]) to access items. While modern Python versions (3.7+) preserve insertion order, dictionaries are still fundamentally unordered because their structure is based on key-value mapping, not a defined sequence, which affects data retrieval by making key-based lookups efficient but positional access impossible.

#20.  Explain the difference between a list and a dictionary in terms of data retrieval.
  - Lists are used to store the data, which should be ordered and sequential. On the other hand, dictionary is used to store large amounts of data for easy and quick access. List is ordered and mutable, whereas dictionaries are unordered and mutable

 # Practical Questions

#1.  Write a code to create a string with your name and print it

In [ ]:
name =" Rahul Ambedkar"
print(name)

 Rahul Ambedkar

#2.  Write a code to find the length of the string "Hello World".

In [ ]:
string = "Hello World"
length = len(string)
print(length)

11

#3.  Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

#4.  Write a code to convert the string "hello" to uppercase.

In [ ]:
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

#5.  Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
string = "I like apple"
new_string = string.replace("apple", "orange")
print(new_string)

I like orange

#6.  Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
 numbers = list(range(1, 6))
 print(numbers)

[1, 2, 3, 4, 5]

#7.  Write a code to append the number 10 to the list [1, 2, 3, 4].

In [26]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

#8  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].`

In [ ]:
lst1 =  [1, 2, 3, 4, 5]
lst1.remove(3)
print(lst1)

[1, 2, 4, 5]

#9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
element = ['a', 'b', 'c', 'd']
second_element = element[1]
print(second_element)

b

#10.  Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
lst = [10, 20, 30, 40, 50]
reversed_lst = lst[::-1]
print(reversed_lst)

[50, 40, 30, 20, 10]

# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [1]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [2]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print(second_to_last_element)

blue

# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [3]:
tuple1 = (10, 20, 5, 15)
min_number = min(tuple1)
print(min_number)

5

# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [4]:
my_tuple = ('dog', 'cat', 'rabbit')
index = my_tuple.index('cat')
print(index)

1

# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [5]:
my_tuple = ('apple', 'banana', 'orange')
if 'kiwi' in my_tuple:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is not in the tuple

# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [6]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [7]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [8]:
set1 = {1, 2, 3, 4}
set1.remove(4)
print(set1)

{1, 2, 3}

# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [9]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [10]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [11]:
my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}
print(my_dict)

{'name': 'John', 'age': 25, 'city': 'New York'}

# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [12]:
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [13]:
my_dict = {'name': 'Alice', 'age': 30}
value = my_dict['name']
print(value)

Alice

# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [14]:
dict1 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict1['age']
print(dict1)

{'name': 'Bob', 'city': 'New York'}

# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [15]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

# 26. Write a code to create a list, a tuple, and a dictionary, and print them all

In [16]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30, 40, 50)
my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'name': 'John', 'age': 25, 'city': 'New York'}

# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the  result.(replaced)

In [17]:
my_list = [50, 20, 90, 10, 70]
my_list.sort()
print(my_list)

[10, 20, 50, 70, 90]

#28. Write a code to create a list with strings and print the element at the third index

In [18]:
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
third_element = my_list[2]
print(third_element)

cherry

# 29. Write a code to combine two dictionaries into one and print the result

In [19]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

#30. Write a code to convert a list of strings into a set

In [25]:
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
my_set = set(my_list)
print(my_set)

{'cherry', 'elderberry', 'date', 'banana', 'apple'}